* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'lato', sans-serif;
}

/*הגדרת הודיאו */
.video_main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*הגדרת ההכותרת בודיאו */

.video_main h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.712);
    font-size: 20vw;
    font-weight: 1300;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    mix-blend-mode: screen;
    font-family: 'Lilita One', cursive;

}

/*הגדרת מבנה הכותרת המוצגת באתר */

.title-style h1 {
    padding: 40px 0;
    color: rgb(77, 138, 138);
    text-shadow: rgba(173, 166, 166, 0.671) -3px 3px;
}

.title-style {
    margin: 0 auto 80px;
    height: 120px;
    width: 80%;
    max-width: 700px;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 50, 0.5);
    margin-bottom: 60px;
}

.title-style ::after {
    content: '';
    height: 100px;
    width: 200px;
    background-color: rgba(95, 158, 160, 0.719);
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: -1;
}

.title-style ::before {
    content: '';
    height: 100px;
    width: 200px;
    background-color: rgba(95, 158, 160, 0.685);
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: -1;

}

.travel-blog {
    padding: 15px;
    font-family: 'Lilita One', cursive;
    font-style: inherit;

}

.card_travel {
    margin-top: 100px;
}

.card_travel h1 {
    text-align: center;
    padding-bottom: 30px;
}

@media only screen and (max-width:900px) {
    .title-style h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .travel-blog {
        margin-left: 20px;
    }
}

/* כרטיסיות טיולים הכי מומלצים*/

.card {
    border: 0;
}

.card_tours {
    margin-bottom: 50px;
    font-family: 'Sriracha', cursive;
}

.container .card {
    position: relative;
}

.star {
    margin-top: 5px;
    color: rgb(199, 165, 121);
}

.container .card .face {
    width: 100%;
    height: 240px;
    transition: 0.5s;
    border: 0;
}

.container .card .face.face1 {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(103px);
}

.container .card:hover .face.face1 {
    transform: translateY(1px);
}

.container .card .face.face1 .content {
    transition: 0.9s;
}

.container .card .face.face1 .content img {
    max-width: 355px;
    max-height: 360px;
}


.container .card .face.face1 .content h3 {
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 30px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-135px);
    display: inline-block;

}

.container .card:hover .face.face2 {
    transform: translateY(0px);
}

.features-text h4 {
    text-align: center;
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.fa-map-marker,
.span {
    font-size: 2px;
    margin-left: 2px;
}

.btn_book {
    display: inline-block;
    text-decoration: none;
    color: #2d7e81;
    background-color: #fff;
    border: #2e8181 solid 1px;
    padding: 5px;
    margin-left: 270px;
    margin-top: -80px;
    font-family: 'Lilita One', cursive;

}

 .btn_book:hover {
    top: 0;
    border-radius: 0 0 60% 20%;
    background: #47918d;
    border: #47918d solid 1px;
    color: #fff;
    transition: 1.2s;
}


@media only screen and (max-width:900px) {
    .container .card .face.face1 .content img {
        width: 500px;
        height: 100%;
    }
 
}


